<% include partials/header %>


          
        <div class="container">
            <table border=1 width="90%" style="margin:20px;text-align:center">
            <tr>
                <th>Reg No.</th>
                <th>Car Name</th>
                <th>Company</th>
                <th>Cost</th>
                <th>Kms Driven</th>
                <th>Location</th>
                <th>Insurance</th>
            </tr>
            <% cars.forEach(function(car){ %>
                <tr>
                    <td><%= car.regNo %></td>
                    <td><%=car.carName %></td>
                    <td><%= car.company%></td>
                    <td><%=car.cost %></td>
                    <td><%=car.kms%></td>
                    <td><%=car.location%></td>
                    <td><%=car.insurance%></td>
                </tr>
            <%  }) %>
        </table>
        
        <div class="container">
            <% if(noMatch !== undefined){%>
                <h4 style="color:red;"><%=noMatch%></h4>
            <% } %>
        </div>  
</div>
      
<% include partials/footer %>
